.LoginView-GoogleLogin {
  background-image: url(../images/btn_google_signin_dark_normal_web.png);
  background-repeat: no-repeat;
  border: 0;
  height: 46px;
  width: 191px;
}

.LoginView-GoogleLogin:hover {
  background-image: url(../images/btn_google_signin_dark_focus_web.png);
}

.LoginView-GoogleLogin:active {
  background-image: url(../images/btn_google_signin_dark_pressed_web.png);
}

.LoginView-GoogleLogin:disabled {
  background-image: url(../images/btn_google_signin_dark_disabled_web.png);
}